//
   Created by mrlee on 2018/4/18.

doctype html

html(lang="en")
    include ../shared/header.jade
    block linkBody
    body
        #main
            .main-frame
                .main-viewport
                    block mainBody
                .main-state#main_state