doctype html

html(lang="en")
    include ../shared/header.jade
    link(rel="stylesheet", href="../../css/shared/public.css")
    block linkBody
    body
        div#main
            .main-viewport
                block mainBody
            .main-state#main_state