//
   Created by mrlee on 2018/4/17.

doctype html
html(lang="en")
    include ../shared/head
    body
        #main
            .main-frame
                .main-viewport
                block mainBody
                .main-state#main_state