extends ../shared/_layout.jade

block linkBody
    link(rel="stylesheet" href="../../css/pages/home.css")

block mainBody
    .view-container
        section.news-detail-header.font32 News Detail
            span.htlf-toLeft.font48